* {
  outline-style: solid;
  outline-color: black;
}

:root {
  
}

header {
  font-family: 'Shojumaru', cursive;
  font-size: x-large;
}

.gold-counter {
  font-family: 'Shojumaru', cursive;

}

.island {
  width: 50vh;
  height: 50vh;
}

.canon {
  width: 12vh;
  height: 8vh;
}

.pirate-maiden {
  width: 8vh;
  height: 12vh;
}

.gold-coin {
  width: 10vh;
  height: 10vh;
}

.hidden {
  display: none !important;
}