* {
font-family: 'Shojumaru', cursive;
}

main {
  font-size: small;
}

header {
  
  font-size: x-large;
}

footer {
  height: 12vh;
}

.bg-grey {
  background-color: rgb(228, 224, 224);
}

.scrolling {
  overflow: hidden;
  height: 57vh;
}

.island {
  width: 55vh;
  height: 55vh;
  padding: 0;
  outline: none;
}

.island-button :active {
  width: 50vh;
  height: 50vh;
  outline: none !important;
}

.parrot {
  width: 8vh;
  height: 12vh;
  padding: 1px;
}

.hat {
  width: 13vh;
  height: 13vh;
}

.canon {
  width: 14vh;
  height: 10vh;
  padding: 5px;
}

.pirate-maiden {
  width: 8vh;
  height: 12vh;
}

.pirate-ship {
  width: 14vh;
  height: 14vh;
}

.gold-coin {
  width: 10vh;
  height: 10vh;
}

.shoppe-font {
  font-size: x-small;
}

.hidden {
  display: none !important;
}